<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg" gameLabel="New" gamePricing="$ 150.00" gameType="PS5 | PC"></app-card>
    <app-card gameCover="assets/bt-4.jpg" gameLabel="Exclusive" gamePricing="$ 370.00" gameType="PS4 | XPTO"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="Legacy" gamePricing="$ 250.30" gameType="PS4 | XPTO"></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Exclusive" gamePricing="$ 120.70" gameType="PS4 | XPTO"></app-card>
    <app-card gameCover="assets/bt-hardline.jpg" gameLabel="Exclusive" gamePricing="$ 78.90" gameType="PS4 | XPTO"></app-card>
    <app-card></app-card>
</div>
